body {
    font-family: Arial, sans-serif;
}
header{
    position: sticky;
    top: 0;
}
#main-header{
    padding: 40px;
    padding-top: 10px;
    background-color: rgb(26, 40, 122);
    color: white;
}

.main-nav li {
    color: white;
    text-decoration: none;
    text-align: center;
    float: right;
}
.main-nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    float: right;
    padding-right: 30px;
}
 
.main-nav a:hover{
    color: rgb(255, 0, 221);
}

.profile-card{
    float: left;
    padding: 20px;
    text-align: center;
    width: 300px;
    display: flexbox;
    margin-bottom: 50px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.skills{
    display: block;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-top: 10px;
}

.sidebar{
    width: 350px;
    box-shadow: 0 4px 15px rgb(14, 14, 32);
    float: left;
    margin: 0 auto;
    margin-left: 150px;
    margin-bottom: 50px;
}
.social-link:hover {
    color: rgb(255, 0, 221);

}
.social-link:visited {
    color: rgb(0, 255, 55);
}

.social-link:active {
    color: rgb(0, 255, 234);
}

a[title^="Twi"] {
    background-color: rgb(0, 183, 255);
}
a[title^="Lin"] {
    background-color: rgb(100, 84, 238);
}
a[title^="Git"] {
    background-color: rgb(255, 0, 0);
}

.content{
    float: right;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgb(14, 14, 32);
    width: 750px;
    padding: 40px;
    padding-right: 300px;
    margin-right: 50px;
}

.main-footer{
    text-align: center;
    background-color: rgb(26, 40, 122);
    padding: 7px;
    clear: both;
    color: white;
}

.skills li[data-level^="ad"] {
    background-color: rgba(87, 240, 57, 0.733);
    margin: 5px;
}
.skills li[data-level^="in"] {
    background-color: rgba(222, 240, 57, 0.733);
    margin: 5px;
}
.skills li[data-level^="be"] {
background-color: rgba(240, 57, 57, 0.733);
margin: 5px;
}

#inicio h2{
    color: rgb(52, 52, 232);    
}

.quote{
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(93, 0, 255, 0.213);
    padding: 10px;   
}

#proyectos h2{
    color: rgb(52, 52, 232);    
}

.project-btn{
    background-color:  rgb(98, 98, 248);
    padding: 5px;
}
.project-btn:hover{
    background-color: rgb(0, 255, 208);
}

.project-card{
    background-color: rgba(93, 0, 255, 0.213);
}
