#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color:white;
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha{
    letter-spacing: 10px;
    font-size: 15px;
}

#relojAtras{
    font-family: Christmas Lights;
    font-size: 40px;
    text-shadow: 0px 0px 1px #333;
    color:white;
}

.relojAtras-contenedor{
    background-color: rgb(206, 18, 12);
    padding: 30px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5%;
}

.animar{
    border:rgb(0, 0, 0) 2px solid;   
}


