body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: plum;
}

.contenedor{
    background-color:aliceblue;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px 6px rgb(124, 80, 169) ;
    border-radius: 10px;
    position: relative;
}

.emoji{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.far{
    margin: 1px;
    /*Lo que nos permite cambiar los emojis*/
    /*Van de 0 a -250, de 50 en 50*/
    transform: translateX(0px);
}

.estrellas{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.fa-star{
    color: lightgrey;
    cursor: pointer;
}

.fa-star.active{
    color: gold;
}

