body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: black;
  color: lightgrey;
  font-family: cursive;
}

.contenedor{
  text-align: center;
  width: 400px;
  position: relative;
  
}
.contador{
  font-size: 40px;
}
.barraTras{
  position: absolute;
  height: 8px;
  background-color: lightgray;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.barraFront{
  position: absolute;
  height: 8px;
  background-color: orangered;
  width: 0%;
  border-radius: 5px;
  border: none;
}

.alerta-final{
  position: absolute;
  height: 8px;
  background-color: rgb(255, 0, 0);
  width: 0%;
  border-radius: 5px;
  border: none
}
